@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   background-color:rgb(224, 221, 221);
 }
/* .anim{
    color:blueviolet;
    font-family: "serif";
    font-size: 50px;
    margin: 1px 10PX 10PX 1px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 2s steps(5, end); 
}
  
@keyframes type{ 
    from { width: 0;} 
  }  */
  .sol{
    color: darkorchid;
    font-size: 30px;
    text-align: center;
  }
  p{
    font-size:42px ;
  }
 .bmi{
  background-color: aliceblue;
 }